body {
    background-color: lightgrey;
    font-family: monospace;
    margin: 0;
    padding: 0;
    margin-top: 10px;      
}
@media screen and (min-width: 380px ) {
    body {
        background-color: royalblue;
        font-size: 50px;
    }
}
@media screen and (min-width: 420px) {
    body {
        background-color: green;
        font-size: 40px;
    }
}
@media screen and (min-width: 1024px) {
    body {
        background-color: darkgoldenrod;
        font-size: 35px;
    }
}
.back {
    border: 0.5em double #000;
    width: 900px;
    margin: 0px auto;
    background-color: white;
}
.wrapper {
    width: 60%;
    margin: 0px auto;   
    padding: 0;
}
.wrapper2 {
    width: 75%;
    margin: 0 auto;
    height: 130px;
}
.logo {
    position: relative;
    left: 300px; 
    background: transparent;
}
.nav {
    margin: 0 auto;
}
ul {
    border-bottom: 2px solid #000;
    border-top: 3px solid #000;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    width: 508px;
}
li {
    display: inline;
    margin: 0 20px;
    text-transform: uppercase;
}
li:hover {
    color: red;
}
.timeline {
    margin: 0px auto;
}
.tour {
    margin: 0px auto;
    width: 100%;
    padding-top: 11px;
}
.para {
    margin: 5px auto;    
    
}
.box {
    width: 50%;
    border: 2px solid darkgrey;
    margin: 1px auto;
    padding: 5px;
    margin-bottom: 10px;
}
p {
    text-align: center;
    margin: 0px auto;
    padding: 1px;
}
li > a {
    text-decoration: none;
    color: #000;
    margin-top: 12px;
}
a:hover {
    color: red;
}
a:active {
    color: darkcyan;
}
iframe {
    margin-top: 11px;
}
.drop {
    display: none;
    text-decoration: none;
    color: #000;
    background-color: chartreuse;
    position: absolute;
    text-align: left;
    width: 80px;
}
ul.drop>li {
    display: block;
}

#down:hover .drop{
    display: inline-block!important;  
}