body {
    /*background-color: lightgrey;*/
    font-family: monospace;
    margin: 0;
    padding: 0;
    margin-top: 10px;      
}
/*.back {
    border: 0.5em double #000;
    width: 900px;
    margin: 0px auto;
    background-color: white;
}
.wrapper {
    width: 60%;
    margin: 0px auto;   
    padding: 0;
}*/
.timeline {
    margin: 0px auto;
}
.tour {
    margin: 0px auto;
    width: 100%;
    padding-top: 11px;
}
.para {
    margin: 5px auto;    
    
}
.box {
    width: 50%;
    border: 2px solid darkgrey;
    margin: 1px auto;
    padding: 5px;
    margin-bottom: 10px;
}
p {
    text-align: center;
    margin: 0px auto;
    padding: 1px;
}
iframe {
    margin-top: 11px;
}